# ***Type-Casting in Python***

In [15]:
# a = int('456', 7)
# a

num1 = '458'
num2 = 897

result = num1 + num2
print(result)

458897

In [26]:
# # pre-built method to take an input from the user -
# number1 = int(input("Enter Number1 - "))
# number2 = int(input("Enter Number2 - "))
# int1 = int(input("Enter a number"))


# in future if we want a string value of int1 variable
# str1 = str(int1)
# float1 = float(int1)
# bool1 = bool(int1)

# result = number1 + number2
# print(result)

# ***Comparison Operators***


1.   "==" --> equats to
2.   "!=" --> not equals to
3.   ">"  --> greater than
4.   "<"  --> less than
5.   ">=" --> greater than or equals to
6.   "<=" --> less than or equals to

In [30]:
# equals to - '=='
num1 = 154
num2 = 154

print(num1 == num2)  # if both operands are equal than return True otherwise it will return False

False

In [32]:
# "!=" --> not equals to

num1 = 154
num2 = 154.02

print(num1 != num2)  # if both operands are equal than return False otherwise it will return True

True

In [39]:
# ">" --> greater than
# num1 = 14785
# num2 = 154468999999

# print(num1 > num2)

False

In [45]:
# "<" --> less than
num1 = '1525'
num2 = '1544'

print(num1 < num2)

True

In [48]:
# ">=" --> greater than or equals to
num1 = 1544
num2 = 1544

print(num1 >= num2)

True

In [53]:
# "<=" --> less than or equals to
num1 = 13631
num2 = 165

print(num1 <= num2)

False