# ***Built-In Methods for Dictionary in Python***

In [ ]:
# 1. clear()
myCart = {
    "item1" : "Night Lamp",
    "item2" : "bed sheet",
    "item3" : "IPS monitor",
    "item4" : "bin bag"
}

print(myCart)
# myCart.clear()
# print(myCart)

{'item1': 'Night Lamp', 'item2': 'bed sheet', 'item3': 'IPS monitor', 'item4': 'bin bag'}

In [ ]:
# 2. copy -
newDictionary = myCart.copy()
print(newDictionary)

{'item1': 'Night Lamp', 'item2': 'bed sheet', 'item3': 'IPS monitor', 'item4': 'bin bag'}

In [ ]:
# 3. fromKeys(sequence, value=None)
students = ["A", "B", "C"]
studentCounts = [15,25,30]
print(students)
marks = dict.fromkeys(students, studentCounts)
print(marks)

['A', 'B', 'C']
{'A': [15, 25, 30], 'B': [15, 25, 30], 'C': [15, 25, 30]}

In [ ]:
# 4. get(key)
emp = {
    "empName": "Vikas",
    "empAge" : 25,
    "empSalary": "1 lac"
}

# print(emp["empAge"])
# print(emp.get("empName"))
# print(emp.get("empSalary"))

In [ ]:
# 5. items()
dictionary = {"a": 1, "b": 2, "c": 3}
print(dictionary.items())
print(list(dictionary.items()))
print(tuple(dictionary.items()))
print(set(dictionary.items()))
print(dict(dictionary.items()))

dict_items([('a', 1), ('b', 2), ('c', 3)])
[('a', 1), ('b', 2), ('c', 3)]
(('a', 1), ('b', 2), ('c', 3))
{('b', 2), ('a', 1), ('c', 3)}
{'a': 1, 'b': 2, 'c': 3}

In [ ]:
# 6. keys()
product = {
    "name": "Laptop",
    "price": "70K",
    "color": "gray mate",
    "model": "HP 15s"
}

# print(product.keys())
# print(list(product.keys()))
# print(set(product.keys()))

In [ ]:
# 7. value()

print(product.values())
print(list(product.values()))
print(tuple(product.values()))

dict_values(['Laptop', '70K', 'gray mate', 'HP 15s'])
['Laptop', '70K', 'gray mate', 'HP 15s']
('Laptop', '70K', 'gray mate', 'HP 15s')

In [ ]:
# 8. pop(key) = it will also remove the item, but by the provided argument
print(product)
# product.pop("model")
# print(product)

{'name': 'Laptop', 'price': '70K', 'color': 'gray mate', 'model': 'HP 15s'}
{'name': 'Laptop', 'price': '70K', 'color': 'gray mate'}

In [ ]:
# 9. popItem() - it will remove an item from the end of the dictionary
print(product)
product.popitem()
print(product)

{'name': 'Laptop', 'price': '70K', 'color': 'gray mate'}
{'name': 'Laptop', 'price': '70K'}

In [ ]:
# 10. update()
product.update({"model": "HP 15s", "color": "Matte Silver"})

In [ ]:
product

{'name': 'Laptop', 'price': '70K', 'model': 'HP 15s', 'color': 'Matte Silver'}