# ***Control flow Statements in Python***

In [ ]:
num1 = int(input("Enter first value - "))
num2 = int(input("Enter second value - "))
num3 = int(input("Enter third value - "))

# ascending order - lowest to highest
# num3, num1, num2
# descending order - highest to lowest
# num2, num1, num3

if num3 < num2 and num3 < num1:
  if num2 < num1:
    print("num3, num2, num1")
  elif num1 < num2:
    print("num3, num1, num2")
  else:
    print("num1 and num2 are equal! please provide unique values.")
elif num2 < num1 and num2 < num3:
  if num1 < num3:
    print("num2, num1, num3")
  elif num3 < num1:
    print("num2, num3, num1")
  else:
    print("num1 and num3 are equal! please provide unique values.")
elif num1 < num2 and num1 < num3:
  if num2 < num3:
    print("num1, num2, num3")
  elif num3 < num2:
    print("num1, num3, num2")
  else:
    print("num2 and num3 are equal! please provide unique values.")
else:
  print("All numbers are equal! please provide unique values.")

Enter first value - 96
Enter second value - 85
Enter third value - 105
num2, num1, num3

In [ ]:
num1 = 5
num2 = 9
num3 = 3
num4 = 1

# ascending order - lowest to highest
num4, num3, num1, num2
# descending order - highest to lowest
num2, num1, num3, num4

In [ ]:
# While loop -
# variable declaration
# condition applying
  # workdone
# variable increment or decrement

# num = 125
# while num >= 90:
#   print(num)
#   num += 2

In [33]:
# For Loop in Python -
# to print 1 to 10
# for num in range(1, 11, 2):
#   if num == 7:
#     print(num)
#     break       # here by using break statement, we break the for loop
#   else:
#     print(num)



# for num in range(1,51,5):
#   print(num)              # here loop is terminated


# userName = "Vikash"
# for char in userName:
#   print(char)


# tup = (1,20,40,50,80,60,55,21,90)

# for ind in range(0, len(tup)):
#   print(tup[ind])

# for ele in tup:
#   print(ele)



# li = [1,2,3,4,5,6,7,8,9]
# tup = (1,20,40,50,80,60,55,21,90)

# for i in range(0, len(li)):
#   print(li[i])

# for i in range(0, len(tup)):
#   print(tup[i])


dictionary = {
    "userName": "Rahul",
    "userAge": 26,
    "userFavMovies": ["Avengers", "Iron Man", "Shutter Island", "Inception"]
}

# dictionary["userName"]

for userDetails in dictionary:
  print(f"{userDetails} : {dictionary[userDetails]}")
  # print(dictionary[userDetails])

userName : Rahul
userAge : 26
userFavMovies : ['Avengers', 'Iron Man', 'Shutter Island', 'Inception']