# ***Column Operations in Pandas***

### **Targeting single or more than one column in Pandas**

In [11]:
import pandas as pd

df = pd.read_csv("product_data.csv")
print(df)
# print(type(df))
sizeCol = df['color']
# sizeCol
# print(type(sizeCol))

# costPrice = df['cost_price']
# costPrice

# prodInfo = df[['category', 'size', 'list_price']]
# prodInfo

      product_id     category   color size  season   supplier  cost_price  \
0        P000001      Bottoms   Black   XL  Spring  supplierb       78.26
1        P000002          ???   Black    M  Summer  supplierc       39.67
2        P000003         Tops   Black   XL  Summer  supplierd       27.62
3        P000004  Accessories   White   XL  Winter  supplierb        7.43
4        P000005  Accessories     NaN   XL    Fall  suppliera       12.04
...          ...          ...     ...  ...     ...        ...         ...
49995    P049996      Bottoms  Yellow   XS  Winter  supplierc        6.86
49996    P049997  Accessories   White    S    Fall  supplierb       30.51
49997    P049998      Dresses   White    L  Spring  suppliera       70.61
49998    P049999         Tops     Red    L  Winter  suppliera       72.73
49999    P050000      Dresses    Blue   XL  Spring  supplierb       25.73

       list_price
0           46.45
1          147.82
2           44.40
3           68.49
4           76.79
...           ...
49995      196.65
49996      135.76
49997       79.46
49998       80.86
49999      173.37

[50000 rows x 8 columns]

          category size  list_price
0          Bottoms   XL       46.45
1              ???    M      147.82
2             Tops   XL       44.40
3      Accessories   XL       68.49
4      Accessories   XL       76.79
...            ...  ...         ...
49995      Bottoms   XS      196.65
49996  Accessories    S      135.76
49997      Dresses    L       79.46
49998         Tops    L       80.86
49999      Dresses   XL      173.37

[50000 rows x 3 columns]

### **Adding and Inserting new columns in pandas DataFrames**

In [14]:
# adding new column at the end of the DataFrame
df['discount_price'] = df['cost_price'] * 10 / 100

In [17]:
# inserting new column at our desired location in the DataFrame using insert method
# df.insert(posi, columnName, columnValue)

df.insert(6, 'final_price', df['cost_price'] - df['discount_price'])

In [18]:
df

,product_id,category,color,size,season,supplier,final_price,cost_price,list_price,discount_price
0,P000001,Bottoms,Black,XL,Spring,supplierb,70.434,78.26,46.45,7.826
1,P000002,???,Black,M,Summer,supplierc,35.703,39.67,147.82,3.967
2,P000003,Tops,Black,XL,Summer,supplierd,24.858,27.62,44.40,2.762
3,P000004,Accessories,White,XL,Winter,supplierb,6.687,7.43,68.49,0.743
4,P000005,Accessories,NaN,XL,Fall,suppliera,10.836,12.04,76.79,1.204
...,...,...,...,...,...,...,...,...,...,...
49995,P049996,Bottoms,Yellow,XS,Winter,supplierc,6.174,6.86,196.65,0.686
49996,P049997,Accessories,White,S,Fall,supplierb,27.459,30.51,135.76,3.051
49997,P049998,Dresses,White,L,Spring,suppliera,63.549,70.61,79.46,7.061
49998,P049999,Tops,Red,L,Winter,suppliera,65.457,72.73,80.86,7.273
49999,P050000,Dresses,Blue,XL,Spring,supplierb,23.157,25.73,173.37,2.573

In [26]:
# loc method -
# df.loc[499, 'category']
# df.loc[499, 'season']
# df.loc[499]

# iloc method -
# df.iloc[499, 4]

product_id          P000500
category            Dresses
color                 White
size                      M
season               Summer
supplier          supplierd
final_price           5.202
cost_price             5.78
list_price           113.94
discount_price        0.578
Name: 499, dtype: object