# ***Filtering values in Pandas***

In [33]:
import pandas as pd
import numpy as np


prodDf = pd.DataFrame({
    "product_name": ['ethnic kurti', 'mens joggers', 'Womens necklace', 'Womens perfume', 'Mens perfume', 'womens watches', 'pen tab'],
    "product_company_name": ['SlayVana', 'Souled Store', 'Shiver Jewellers', 'Bella Vita', 'Park Avenue', 'Titans', 'wacom'],
    "product_price": [799, None, 499, np.nan, 450, None, 2499]
})

# prodDf.fillna(1200, inplace=True)


prodDf

# filtering dataframe entried whose product price is greater than 1200
# prodDf[prodDf['product_price'] > 1200]

prodDf['final_price_after_discount'] = prodDf['product_price'] - (prodDf['product_price'] * 15/100)
prodDf

# sizeCol = pd.Series(['XL', "XXL", "M", '120ml', '150ml', 'L', '7x5 inches'])

# sizeCol

# prodDf.insert(2, 'product_size', sizeCol)
# prodDf

# removing a single column
prodDf.drop(index=2)
prodDf


# removing multiple records (rows)
prodDf.drop([0,2])


# removing a single column by it's name
prodDf.drop('final_price_after_discount', axis=1)



# removing or droping null, nan or none values from our DataFrame
# isnull()
# fillna()
# dropna()

# prodDf.isnull().sum()
prodDf.dropna()

,product_name,product_company_name,product_price,final_price_after_discount
0,ethnic kurti,SlayVana,799.0,679.15
2,Womens necklace,Shiver Jewellers,499.0,424.15
4,Mens perfume,Park Avenue,450.0,382.50
6,pen tab,wacom,2499.0,2124.15

# ***Merging | Concating | Joining In Pandas***

In [68]:
# ds1 = pd.Series(data = ['A', 'D', 'B', 'B', 'D',  'C', 'D'], index=['1.1', '1.2', '1.3', '1.4', '1.5', '1.6', '1.7'])
ds1 = pd.Series(data = ['A', 'D', 'B', 'B', 'D',  'C', 'D'])
ds2 = pd.Series([10,20,22,45,78,56,23])
ds3 = pd.Series(data = ['A', 'C', 'C', 'B'])
ds4 = pd.Series([10,20,22,45])


df1 = pd.DataFrame({
    'prod_name': ds1,
    'prod_price': ds2
})

df2 = pd.DataFrame({
    'prod_name': ds3,
    'prod_price': ds4
})

# join method will perform index based joining
# joinedDf = df2.join(df1.set_index('prod_name'), on='prod_name', rsuffix='_df2')
# print(df1)
# print(df2)
# joinedDf


# merge method will also perform joining but without using indexes
# mergedDf = pd.merge(df1, df2, on='prod_name')
# print(df1)
# print(df2)
# mergedDf

# concat method will concat 2 or more than 2 df's
# concDf = pd.concat([df1, df2], axis=1) # axis = 0 ---> Row, 1 ---> column
# concDf

  prod_name  prod_price prod_name  prod_price
0         A          10         A        10.0
1         D          20         C        20.0
2         B          22         C        22.0
3         B          45         B        45.0
4         D          78       NaN         NaN
5         C          56       NaN         NaN
6         D          23       NaN         NaN