## ***Joining | Merging | Concating in Pandas***

In [23]:
import pandas as pd

ds1 = pd.Series(["A", "B", "B", "D", "D", "B"])
ds2 = pd.Series([20, 82, 82, 42, 37, 82])

ds3 = pd.Series(["D", "B", "A", "D"])
ds4 = pd.Series([3999, 4599, 4599, 12999])

df1 = pd.DataFrame({
  "products": ds1,
  "prod_stock": ds2,
  "prod_price": ds4
})

df2 = pd.DataFrame({
  "products": ds3,
  "prod_price": ds4
})


# joining two df's into a single one -
# finProducts1 = df1.join(df2.set_index("products"), on="products")
# print(df1, "\n")
# print(df2, "\n")
# print(finProducts1, '\n')


# merging two df's into a single one -
# finProducts2 = pd.merge(df1, df2, on="products")
# print(df1, "\n")
# print(df2, "\n")
# print(finProducts2)


# concating two df's into a single one -
finProducts3 = pd.concat([df2, df1], axis=0)
print(finProducts3)

  products  prod_price  prod_stock
0        D      3999.0         NaN
1        B      4599.0         NaN
2        A      4599.0         NaN
3        D     12999.0         NaN
0        A      3999.0        20.0
1        B      4599.0        82.0
2        B      4599.0        82.0
3        D     12999.0        42.0
4        D         NaN        37.0
5        B         NaN        82.0