# ***Handling missing & null values in Pandas***

In [12]:
# import pandas as pd

# marksList = [55,48,79, 56,32]
# marksSeries = pd.Series(marksList)

# marksSeries.std()
# marksSeries.sum()
# marksSeries.count()
# marksSeries.min()
# marksSeries.max()
# marksSeries.mean()
# marksSeries.median()

16.95582495781317

In [15]:
import pandas as pd
import numpy as np


prodDf = pd.DataFrame({
    "product_name": ['ethnic kurti', 'mens joggers', 'Womens necklace', 'Womens perfume', 'Mens perfume', 'womens watches', 'pen tab'],
    "product_company_name": ['SlayVana', 'Souled Store', 'Shiver Jewellers', 'Bella Vita', 'Park Avenue', 'Titans', 'wacom'],
    "product_price": [799, None, 499, np.nan, 450, None, 2499]
})

prodDf

      product_name product_company_name  product_price
0     ethnic kurti             SlayVana          799.0
1     mens joggers         Souled Store            NaN
2  Womens necklace     Shiver Jewellers          499.0
3   Womens perfume           Bella Vita            NaN
4     Mens perfume          Park Avenue          450.0
5   womens watches               Titans            NaN
6          pen tab                wacom         2499.0

### to find whether our dataframe is having null, nan or none value we'll use .**isnull()**

In [24]:
prodDf.isnull().sum()

# print(int(True))

product_name            0
product_company_name    0
product_price           3
dtype: int64

### To fill the null, nan or none values with some default values we'll use .***fillna()***

In [32]:
# prodDf.isnull().sum()

# filling null, nan or none value with a default value
newDf = prodDf.fillna(349, inplace=False) # by default inplace is False everywhere, if we want to change the existing dataframe then we've to provide inplace=True

prodDf.isnull().sum()
prodDf
newDf

      product_name product_company_name  product_price
0     ethnic kurti             SlayVana          799.0
1     mens joggers         Souled Store          349.0
2  Womens necklace     Shiver Jewellers          499.0
3   Womens perfume           Bella Vita          349.0
4     Mens perfume          Park Avenue          450.0
5   womens watches               Titans          349.0
6          pen tab                wacom         2499.0