# ***Pandas Introduction***

- It is a python library used to work and perform analysis on tabular data.
- Through Pandas we'll be able to perform data manipulation on Tables, Data Analysis as well as Data Visualization
- Pandas introduced two new data structures
  - Pandas Series :- it is a 1D labelled array (signle column data)
  - Pandas DataFrame :- it is a 2D labeller array (contains rows as well as columns in tabular format)

In [1]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [13]:
import pandas as pd

# empList = ["Rohan", "Vikas", "Rahul", "Chritrakala", "Rohini", "Ankush", "Aditi"]

# # pandas series -
# empSeries = pd.Series(empList, name="Employee Name")   # name keyword is used to assign column name of the series
# empSeries


# pandas dataframe -
empNameList = ["Rohan", "Vikas", "Rahul", "Chritrakala", "Rohini", "Ankush", "Aditi"]
empRoleList = ("Web Dev", "Data Analyst", "AI Engineer", "Web Dev", "Data Scientist", "Associate Software Engineer", "IT Head")
empGenderList = ["Male", "Male", "Male", "Female", "Female", "Male", "Female"]

empTable = pd.DataFrame({
    "Employee_Name": empNameList,
    "Employee_Role": empRoleList,
    "Employee_Gender": empGenderList
})

empTable

  Employee_Name                Employee_Role Employee_Gender
0         Rohan                      Web Dev            Male
1         Vikas                 Data Analyst            Male
2         Rahul                  AI Engineer            Male
3   Chritrakala                      Web Dev          Female
4        Rohini               Data Scientist          Female
5        Ankush  Associate Software Engineer            Male
6         Aditi                      IT Head          Female

In [17]:
import pandas as pd

df = pd.read_csv("product_data.csv")
df = pd.read_json("product_data.json")
df = pd.read_excel("product_data.xlsx")
df

# to display the first 20 entried from df we will use head() naam ka method -
# df.head(20)

# to display the last 15 entried from df we will use tail() naam ka method -
df.tail(15)

,product_id,category,color,size,season,supplier,cost_price,list_price
49985,P049986,Accessories,Blue,XS,Winter,supplierc,8.95,142.42
49986,P049987,Accessories,Blue,L,Winter,suppliera,56.47,152.70
49987,P049988,Accessories,Blue,XL,Spring,supplierc,77.58,174.69
49988,P049989,Accessories,Black,L,Spring,supplierd,59.04,98.19
49989,P049990,Tops,Blue,XS,Spring,suppliera,8.13,104.74
49990,P049991,Dresses,Green,S,Fall,suppliera,51.02,198.02
49991,P049992,Tops,Black,M,Summer,supplierd,20.25,110.03
49992,P049993,Tops,Red,XS,Fall,supplierd,29.10,95.72
49993,P049994,Shoes,Red,S,Summer,supplierc,59.81,186.05
49994,P049995,Accessories,Black,M,Winter,supplierc,9.96,175.15
49995,P049996,Bottoms,Yellow,XS,Winter,supplierc,6.86,196.65
49996,P049997,Accessories,White,S,Fall,supplierb,30.51,135.76
49997,P049998,Dresses,White,L,Spring,suppliera,70.61,79.46
49998,P049999,Tops,Red,L,Winter,suppliera,72.73,80.86
49999,P050000,Dresses,Blue,XL,Spring,supplierb,25.73,173.37

In [20]:
df_json = df.to_json("product_data.json")
df_excel = df.to_excel("product_data.xlsx")