# ***Built-In Methods for List in Python***

In [13]:
# List Methods -
# products = ["Maggi", "Bottle", "Maggi", "Oats", "Coca Cola", "Maggi", "Paneer", "Soya Chunks","Maggi", "Coca Cola", "Wild Stone Perfume", "Coca Cola"]
# priceList = [30, 65, 125, 45, 78, 45, 220]

In [ ]:
# # # 1. sort()
# print("------------------- Sorting in stringular list ---------------------\n")
# print(f"before sorting - {products}\n")
# products.sort()
# print(f"\nafter sorting - {products}\n")
# print("------------------- Sorting in numerical list in ascending order ---------------------\n")
# print(f"before sorting - {priceList}\n")
# priceList.sort()         # by default it will sort list in ascending order
# print(f"\nafter sorting - {priceList}\n")
# print("------------------- Sorting in numerical list in descending order ---------------------\n")
# print(f"before sorting - {priceList}\n")
# priceList.sort(reverse=True)         # Now, it will sort list in descending order
# print(f"\nafter sorting - {priceList}\n")

In [ ]:
# 2. append()
# products = ["Maggi", "Bottle", "Oats", "Paneer", "Soya Chunks", "Coca Cola", "Wild Stone Perfume"]
# priceList = [30, 65, 125, 45, 78, 45, 220]

# products.append(["Ice Cream", "Kit kat", "Mentos"])
# products

In [ ]:
# 3. insert()
# products = ["Maggi", "Bottle", "Oats", "Paneer", "Soya Chunks", "Coca Cola", "Wild Stone Perfume"]
# priceList = [30, 65, 125, 45, 78, 45, 220]
# print(products)

# priceList.insert(index, DataToBeInsert(Value))
# priceList.insert(7, 225)
# print(priceList)

# priceList.insert(8, [225, 15, 20])
# print(priceList)

In [ ]:
# 4. extend()
# products = ["Maggi", "Bottle", "Oats", "Paneer", "Soya Chunks", "Coca Cola", "Wild Stone Perfume"]
# priceList = [30, 65, 125, 45, 78, 45, 220]
# print(f"before extending -  {products}\n")

# newProducts = ["Ice Cream", "Kit Kat", "Mentos"]

# products.extend(newProducts)

# print(f"\nafter extending -  {products}\n")

In [ ]:
# # 5. remove("ValueToBeRemoved")
# # products = ["Maggi", "Bottle", "Oats", "Paneer", "Soya Chunks", "Coca Cola", "Wild Stone Perfume"]
# priceList = [30, 65, 125, 45, 78, 45, 220]
# # print(len(products))
# # print(len(priceList))
# print(products)
# print(priceList)

# # products.remove("Ice Cream")
# removalList = ["Kit Kat", "Mentos"]
# # products.remove("Kit Kat")
# products.remove("Mentos")
# print(products)
# print(priceList)

In [ ]:
# 6. pop()
# products = ["Maggi", "Bottle", "Oats", "Paneer", "Soya Chunks", "Coca Cola", "Wild Stone Perfume"]
# priceList = [30, 65, 125, 45, 78, 45, 220]
# print(products)

# products.pop()     # by default it will remove the last element of the list
# products.pop(4)     # It will remove the element present at the 4th index of the list

# print(products)

In [1]:
# # 7. clear()
# # products = ["Maggi", "Bottle", "Oats", "Paneer", "Soya Chunks", "Coca Cola", "Wild Stone Perfume"]
# # priceList = [30, 65, 125, 45, 78, 45, 220]
# print(products)

# products.clear()

# print(products)

In [9]:
# 8. index(value, start, end)
# # products = ["Maggi", "Bottle", "Oats", "Paneer", "Soya Chunks", "Coca Cola", "Wild Stone Perfume"]
# # priceList = [30, 65, 125, 45, 78, 45, 220]

# proIndex = products.index("Coca Cola")
# print(proIndex)

# products.index("Coca Cola", 4, 8)

In [15]:
# # 9. count()
# print(products.count("Coca Cola"))
# print(products.count("Maggi"))

In [27]:
# # 10. reverse  -
# print(products)
# products.reverse()
# print(products)
# products.sort(reverse=True)
# print(products)

In [21]:
# # 11. copy() - it creates a shallow copy
# newProductsList = products.copy()
# print(newProductsList)
# print(products)

# newProductsList.pop()
# print(newProductsList)
# print(products)

In [28]:
# # Tuple Methods -
# # 1. count()
# # 2. index()
# carTuple = ("Mercedes Benz", "Defender", "Maybach", "Lamborghini", "Ferrari")
# print(carTuple)

# # print(carTuple.count("Defender"))
# print(carTuple.index("Maybach"))

In [34]:
# Set Methods -
# 1. add(element) -
# customers = {"Vikas", "Manoj", "Sumit", "Roshani"}
# customers.add("Chahat")
# customers

In [35]:
# 2. clear() -
# customers.clear()
# customers

In [37]:
# 3. copy()
# copiedCustomers = customers.copy()
# print(customers)
# print(copiedCustomers)
# customers.add("Chintu")
# print(customers)
# print(copiedCustomers)

{'Roshani', 'Manoj', 'Sumit', 'Vikas'}
{'Roshani', 'Manoj', 'Sumit', 'Vikas'}
{'Manoj', 'Vikas', 'Roshani', 'Chintu', 'Sumit'}
{'Roshani', 'Manoj', 'Sumit', 'Vikas'}

In [39]:
# # 4. difference(newSet)
# mobSetA = {"Samsung", "XIAOMI", "Apple", "OnePlus"}
# mobSetB = {"MicroMax", "Nokia", "Samsung", "Intex", "XIAOMI"}

# print(mobSetA.difference(mobSetB))
# print(mobSetB.difference(mobSetA))

{'OnePlus', 'Apple'}
{'MicroMax', 'Intex', 'Nokia'}

In [41]:
# # 5. discard(element) - it will remove the element by the correct value which we have passed
# print(mobSetB)
# mobSetB.discard("Nokia")
# print(mobSetB)

{'Samsung', 'Intex', 'XIAOMI', 'MicroMax'}
{'Samsung', 'Intex', 'XIAOMI', 'MicroMax'}

In [43]:
# # 6. intersection - it will return the comman elements from the first SET with the second SET
# print(mobSetA.intersection(mobSetB))
# print(mobSetB.intersection(mobSetA))

{'Samsung', 'XIAOMI'}
{'Samsung', 'XIAOMI'}

In [46]:
# # 7. isdisjoint() -
# setA = {1,2}
# setB = {2,4}

# print(setA.isdisjoint(setB))

# setA = {1,2,3,4}
# setB = {5,6,7,8}
# print(setA.isdisjoint(setB))

False
True

In [58]:
# 8. .subset(other_set) -
# dev = {"Python","SQL", "JavaScript", "PhP"}
# req = {"Python", "JavaScript", "SQL", "PhP", "Pandas"}
# print("Subset Checks - ")
# print(req.issubset(dev))
# print(dev.issubset(req))

# set1 = {1,2,3,4}
# set2 = {1,2,3}

# print(set1.issubset(set2))
# print(set2.issubset(set1))



# 9. .superset(other_set) -
# req = {"Python", "JavaScript"}
# dev = {"Python","SQL", "JavaScript", "PhP"}
# print("Superset Checks - ")
# print(req.issuperset(dev))
# print(dev.issuperset(req))




# 10. pop() -
# setA.pop()
# print(setA)
# print(setA)


# 11. remove(element)
# setB.remove(7)
# setB


# 12. update()
# mobSetB.update({"Blackberry", "Vivo"})
# mobSetB